body {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.cabecalho {
    width: 100%;
    padding: 50px;
    background-color: aqua;
}

.conteiner {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 2em;
}

.card-bloco-1 {
    background-color: black;
    padding: 200px;
}

.card-bloco-2 {
    background-color: orangered;
    padding: 200px;
}

.card-bloco-3 {
    background-color: blue;
    padding: 200px;
}

.roda-pe {
    width: 100%;
    padding: 50px;
    background-color: aqua;
    margin-top: 20px;
}