p {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}